:root {
  --colour1: #221f1f;
  --colour2: #e50914;
  --colour3: #e6e0d0;
  --colour4: #f8f166;

  --headingFont: 'Playfair Display', serif;
  --headingFontWeight: 700;
  --bodyFont: 'Roboto', sans-serif;
}

html {
  font-size: 125%;
  /*
   62.5% = units of 10px
   93.7% = units of 15px
   125% = units of 20px
    */
}

body {
  background-color: var(--colour1);
  font-family: var(--bodyFont);
}

p {
  color: var(--colour3);
  font-size: 1rem;
  line-height: 1.6;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.buttonStyle {
  border: 1px solid var(--colour2);
  color: var(--colour2);
  padding: 3px 40px;
  border-radius: 20px;
  margin: 25px 0;
}

.buttonStyle:hover {
  background-color: var(--colour2);
  color: var(--colour1);
}

.mojal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  min-height: 25%;
  background-color: var(--colour1);
  padding: 20px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: 50;
}

.fa-w-16:hover {
  color: var(--colour2);
  transform: scale(1.1);
}
