:root {
  --colour1:#221f1f;
  --colour2: #e50914; 
  --colour3: #e6e0d0;
  --colour4: #f8f166;

  --headingFont: 'Playfair Display', serif;
  --bodyFont: 'Roboto', sans-serif; 
}

html {
    font-size: 125%;
    /*
   62.5% = units of 10px
   93.7% = units of 15px
   125% = units of 20px
    */
}

body {
    background-color: var(--colour1);
    font-family: var(--bodyFont);
}

p {
    color: var(--colour3);
    font-size: 1rem;
}
