@import "./global.css";

header h1 {
    font-size: 3rem;
    color: var(--colour2);
    font-family: var(--headingFont);
    margin: 0;
}

header {
    min-height: 100vh;
    padding-top: 20px;
    background: linear-gradient(to bottom right, var(--colour1) 0%, var(--colour1) 80%, var(--colour2) 80%, var(--colour2) 100%);
}

header p {
    font-size: .9rem;
    color: var(--colour3);
    margin: 0;
}

.text {
    padding: 20px 0;
}

header .buttonStyle {
    text-decoration: none;
    transition: background-color .5s, color .5s;
    margin: 20px 0;
    font-size: 1.3rem;
    display: inline-block;
    width: 300px;
}

header .wrapper {
    width: 90%;
    margin: 0 auto;
}

@media(min-width: 375px) {
    header h1 {
        font-size: 4rem;
    }
    header {
        background: linear-gradient(to bottom right, var(--colour1) 0%, var(--colour1) 75%, var(--colour2) 75%, var(--colour2) 100%);
    }
}

@media(min-width: 470px) {
    header h1 {
        font-size: 4.5rem;
    }
    header {
        background: linear-gradient(to bottom right, var(--colour1) 0%, var(--colour1) 70%, var(--colour2) 70%, var(--colour2) 100%);
    }
}

@media(min-width: 529px) {
    header .text {
        padding: 50px 0;
    }
    header p {
        margin: 10px 0;
    }
    header a {
        margin: 30px 0;
    }
    header {
        background: linear-gradient(to bottom right, var(--colour1) 0%, var(--colour1) 65%, var(--colour2) 65%, var(--colour2) 100%);
    }
}

@media(min-width: 1200px) {
    header {
        background: linear-gradient(to bottom right, var(--colour1) 0%, var(--colour1) 55%, var(--colour2) 55%, var(--colour2) 100%);
    }
}





