@import "./global.css";

.listPageWrapper {
    height: 90vh;
    margin: 0 5%;
}

h2 {
    color: var(--colour2);
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 1rem;
    display: block;
    text-align: center;
    line-height: calc(1 * 1.6);
}


a:hover,
li p:hover {
    color: var(--colour4)
}

ul {
    list-style-type: none;
    padding: 25px;
    margin: 0;
} 
    
/* li {
    text-align: center;
} */

.listName a {
    display: inline-block;
}

li p {
    margin: 0;
    font-size: 1.5rem;
    display: inline-block; 
}

.svg-inline--fa {
    display: inline-block;
    font-size: 1rem;
    margin: 15px 10px 0 10px;
     color: var(--colour2)
}

li .listName {
    text-align: center;
}

button {
    border-radius: 10px;
    padding: 15px;
}



