@import "./global.css";

.listPageWrapper {
    height: 90vh;
    margin: 0 10%;
}

h2 {
    color: var(--colour2);
    text-align: center;
    letter-spacing: 2px;
    font-size: 2.25rem;
    
}

.listPage h3 {
  color: var(--colour2);
  font-family: var(--headingFont);
  margin: 0;
  padding: 20px 0;
  font-size: 1.5rem;
  line-height: 1.25rem;
  letter-spacing: 2px;
} 

.listPage .instructions {
    color: var(--colour3);
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 1.25px;
    margin-top: 70px;
}


/* links to movies & specific lists pages styling */
.listPage a {
    color: var(--colour3);
    text-decoration: none;
    font-size: 1rem;
    display: block;
    text-align: center;
    line-height: calc(1 * 1.6);
    cursor: pointer;
    ;
}

/* movie list text styling */

.listPage li {
    padding: 0;
    color: var(--colour3);
}
li p {
    margin: 0;
    /* font-size: 1rem; */
    display: inline-block; 
}

li p::before {
    content: '🎬';
    padding-right: 15px;
}


.listName a {
    display: inline-block;
}

a:hover,
li p:hover {
    color: var(--colour4)
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

.svg-inline--fa {
    display: inline-block;
    font-size: .8rem;
    margin: 15px 10px 0 10px;
    color: var(--colour3);
    transition: color .6s ease-in-out;
    
}
.svg-inline--fa:hover{
     cursor: pointer;
     color: var(--colour2);
}


.listPage .buttonStyle {
    border: 1px solid var(--colour2);
    color: var(--colour2);
    padding: 3px 40px;
    border-radius: 20px;
    margin: 25px 0;
}
.listPage .buttonStyle:hover {
    background-color: var(--colour2);
    color: var(--colour1);

}

/* media query styling begins here */
/* @media (min-width: 480px) {
    html {
        font-size: 150%;
    }
}

@media (min-width: 600px) {
   html {
        font-size: 175%;
  }
}

@media (min-width: 900px) {
   html {
        font-size: 200%;
  }
} */



