@import './global.css';

.specificList .wrapper {
    width: 90%;
    margin: 0 auto;
}

.specificList h2 {
    color: var(--colour2);
    margin: 0;
    padding: 40px 0 20px;
    font-size: 2rem;
    text-transform: capitalize;
    font-size: 2.25rem;
}

.specificList form {
    color: var(--colour3);
    padding: 10px 0px;
    border-radius: 20px;
    clear: both;
}

.specificList select {
    border: none;
    background: url(../assets/downArrow.svg);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 95% 85%;
    border-bottom: 1px solid var(--colour2);
    color: var(--colour2);
    padding: 5px 0;
    margin: 0 10px;
    cursor: pointer;
}

.specificList input[type='submit'] {
  width: 70%;
  margin: 40px auto 40px;
  padding: 5px 20px;
  float: none;
  text-align: center;
}

.specificList input[type='submit']:hover {
  background: var(--colour2);
  color: var(--colour1);
}

.specificList .buttonStyle {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 1.6;
}

.specificList .buttonStyle:hover {
    color: var(--colour1);
    background: var(--colour2);
}

.specificList .movieList {
    padding-top: 20px;
}

.specificList .poster {
  position: relative;
}

.specificList .poster img {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
}

.specificList .overlay:hover {
  opacity: 1;
}

.specificList .overlay a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--colour2);
  border-radius: 20px;
  color: var(--colour1);
  text-decoration: none;
  /* width: 80%; */
  /* margin: 40% 10% 20px; */
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
}

.specificList .overlay button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: var(--colour1);
  /* margin: 20px 5%; */
  /* border-radius: 20px; */
  /* width: 90%; */
  /* padding: 5px; */
}

.fa-minus-circle {
  font-size: 1.3rem;
}

.specificList p.empty {
  color: var(--colour2);
  font-size: 1rem;
}

.listContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


@media (min-width: 560px) {
  .specificList .buttonStyle {
    float: left;
    width: calc(50% - 10px);
  }
  .listContainer {
    grid-template-columns: repeat(4, 1fr);
  }

  .specificList input[type='submit'] {
    float: none;
    width: 40%;
  }

  .specificList .bigNav .buttonStyle:nth-of-type(1) {
    margin-right: 20px;
  }

  .specificList form {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}

@media (min-width: 800px) {
  .listContainer {
    grid-template-columns: repeat(6, 1fr);
  }

  .specificList form {
    font-size: 1.5rem;
  }
}

@media (min-width: 1000px) {
  .listContainer {
    grid-template-columns: repeat(8, 1fr);
  }

  .specificList h2 {
    width: 50%;
    padding-bottom: 30px;
    float: left;
    text-align: left;
  }

  .bigNav {
    float: right;
    width: 50%;
    padding-top: 40px;
  }
}
