@import './global.css';

/* things i need help with.. making hamburger menu accesible,
also hamburger menu is ugly
ugly hover buttons on poster,
should we keep the hamburger bar all the way or change into a nav
 */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(248, 241, 102, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
}

.specificList .overlay:hover {
  opacity: 1;
}

.specificList .overlay a {
  background: var(--colour2);
  border-radius: 20px;
  color: var(--colour1);
  text-decoration: none;
  width: 80%;
  margin: 40% 10% 20px;
  display: inline-block;
  text-align: center;
  padding: 5px;
}

.specificList .overlay button {
  background: var(--colour2);
  border: none;
  color: var(--colour1);
  margin: 20px 5%;
  border-radius: 20px;
  width: 90%;
  padding: 5px;
}

.specificList .poster {
  position: relative;
  width: 50%;
  float: left;
}

.specificList .poster img {
  width: 100%;
  display: block;
}

.specificList p.empty {
  color: var(--colour2);
  font-size: 1rem;
}

.specificList .wrapper {
  width: 90%;
  margin: 0 auto;
  min-height: 87vh;
}

.specificList form {
  color: var(--colour3);
  padding: 10px 0px;
  border-radius: 20px;
  clear: both;
}

.specificList select {
  border: none;
  background: url(../assets/downArrow.svg);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 95% 85%;
  border-bottom: 1px solid var(--colour2);
  color: var(--colour2);
  padding: 5px 0;
  margin: 0 10px;
  cursor: pointer;
}

.specificList h2 {
  color: var(--colour2);
  margin: 0;
  padding: 40px 0 20px;
  font-size: 2rem;
  text-transform: capitalize;
  font-size: 2.25rem;
}

.specificList .movieList {
  padding-top: 20px;
}

.specificList input[type='submit'] {
  width: 70%;
  margin: 40px auto 40px;
  padding: 5px 20px;
  background: var(--colour1);
  float: none;
  text-align: center;
}

.specificList input[type='submit']:hover {
  background: var(--colour2);
  /* border: 1px solid var(--colour2); */
  color: var(--colour1);
}

.specificList .buttonStyle {
  display: block;
  width: 100%;
  text-align: center;
}

.specificList .buttonStyle:hover {
  color: var(--colour1);
  background: var(--colour2);
}

@media (min-width: 560px) {
  .specificList .buttonStyle {
    float: left;
    background: var(--colour1);
    width: calc(50% - 10px);
  }

  .specificList input[type='submit'] {
    float: none;
    width: 40%;
  }

  .specificList .bigNav .buttonStyle:nth-of-type(1) {
    margin-right: 20px;
  }

  .specificList form {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
@media (min-width: 800px) {
  .specificList .poster {
    width: 33.33%;
  }

  .specificList form {
    font-size: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .specificList .poster {
    width: 25%;
  }

  .specificList h2 {
    width: 50%;
    padding-bottom: 30px;
    float: left;
    text-align: left;
  }

  .bigNav {
    float: right;
    width: 50%;
    padding-top: 40px;
  }
}
